html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}
:root {
    --color0: hsl(30, 100%, 30%);
    --color1: hsl(30, 100%, 40%);
    --color2: hsl(30, 100%, 55%);
    --color3: hsl(30, 100%, 67%);
    --color4: hsl(30, 100%, 80%);
    --color5: hsl(30, 100%, 90%);
    --solid-border: 1px solid black;
    --dashed-border: 1px dashed black;
}
h1 {
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.available-0 {
    background-color: var(--color0);
}
.available-1 {
    background-color: var(--color1);
}
.available-2 {
    background-color: var(--color2);
}
.available-3 {
    background-color: var(--color3);
}
.available-4 {
    background-color: var(--color4);
}
.available-5 {
    background-color: var(--color5);
}

.time-half {
    color: transparent;
}
table {
    border-collapse: collapse;
    padding: 0;
}
.half td {
    border-bottom: var(--dashed-border);
    width: 9rem;
}
.sharp td {
    border-bottom: var(--solid-border);
    width: 9rem;
}
#legend-gradient {
    width: 300px;
    height: 20px;
    background-image: linear-gradient(to right,
        var(--color0) 0% 15%, var(--color1) 15% 30%, var(--color2) 30% 45%, var(--color3) 45% 60%, var(--color4) 60% 80%, var(--color5) 80% 100%);
}

